*{
    background-color: #999999;
    padding: 0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}
#t-b{
    width: auto;
    height: auto;
    border: 5px solid #255466 ;
    border-spacing: 0;
}
.num{
    width: 60px;
    height: 60px;
    border: 5px solid #255466;
    cursor: pointer;
    border-collapse: collapse;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
}
#display{
    border: 5px solid #255466;
    border-collapse: collapse;
    width: auto;
    height: 70px;
    font-size: 38px;
    color: #FFFFFF;
}
#dy{
    border: 5px solid #255466;
    border-collapse: collapse;
    text-align: center;
    font-size: 37px;
    color: #FFFFFF;
    cursor: pointer;
}